body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: darkgray;
}

.container{
    width: 90%;
    background-color: white;
    margin: auto;
}

.square {
    padding: 0;
    margin: 0;
    width: 100px;
    height: 100px;
    background-color: #CCC;
    border: 2px solid #666;
    float: left;
    position: relative;
    text-align: center;
    font-size: 50px;
}

#content {
    justify-content: center;
    display: flex;
}

#header {
    padding-bottom: 20px;
    justify-content: center;
    display: flex;
}

.clr {
    clear: both;
}

.row {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    align-content: center;

}

.header {
    background-color: lightgray;
}

.column {
    align-content: center;
    text-align: center;
    justify-content: space-between;
}

.status-bar {
    display: flex;

}

.circle {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    fill: none;
    position: absolute;
    background-color: red;
}

.X-mark {
    color: red;
    text-align: center;
    width: 90px;
    height: 90px;
    border-radius: 5px;
    font-size: 50px;
}

.O-mark {
    color: red;
    text-align: center;
    width: 90px;
    height: 90px;
    border-radius: 5px;
    font-size: 50px;
}

.active1{
    background-color: green;
}

.active2{
    background-color: red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#playerturn{
    text-align: center;
}

#take_turn{
    display: inline-block;
    border-radius: 4px;
    background-color: #3376FF;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 20px;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #3376FF;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

