body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #242423;
    font-family: 'Press Start 2P', cursive;
    color: white;
}

.container{
    width: 90%;
    margin: auto;
    text-align: center;
}

footer{
    position: absolute;
    margin-top: 50px;
    bottom: 0;
}

ul{
    list-style-type: none;
}

#made-header{
    margin-bottom: 20px;
    font-size: 150%;
}

.made-name{
    font-size: 90%;
    margin-left: 35px;
}

#board {
    font-family: 'Roboto', cursive;
}

#index-header{
    font-size: 200%;
    margin-top: 30px;
}

#game-header{
    font-size: 200%;
    margin-top: 10px;
}

#name-label{
    font-size: 110%;
    margin-top: 60px;
}

#name{
    font-size: 80%;
    margin-top: 10px;
}

.score{
    font-size: 80%;
}

#name1{
    font-size: 150%;
    margin-top: 20px;
    margin-bottom: 15px;
}

#name2{
    font-size: 150%;
    margin-top: 20px;
    margin-bottom: 15px;
}

#turn-label{
    margin-top: 20px;
    font-size: 120%;
}

.win-text{
    position: absolute;
    width: 500px;
    height: 115px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-size: 220%;
}

.square {
    padding: 0;
    margin: 0;
    width: 100px;
    height: 100px;
    background-color: #CCC;
    border: 2px solid #666;
    float: left;
    position: relative;
    text-align: center;
    font-size: 50px;
}

#content {
    justify-content: center;
    display: flex;
}

#header {
    padding-bottom: 20px;
    justify-content: center;
    display: flex;
}

.clr {
    clear: both;
}

.row {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    align-content: center;
}

.header {
    border-radius: 0 0 10px 10px;
    background-color: #333533;
}

.column {
    align-content: center;
    text-align: center;
    justify-content: space-between;
}

.status-bar {
    display: flex;

}

.circle {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    fill: none;
    position: absolute;
    background-color: red;
}

.X-mark {
    color: red;
    text-align: center;
    width: 90px;
    height: 90px;
    border-radius: 5px;
    font-size: 50px;
}

.O-mark {
    color: red;
    text-align: center;
    width: 90px;
    height: 90px;
    border-radius: 5px;
    font-size: 50px;
}

.active1{
    background-color: green;
}

.active2{
    background-color: red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#playerturn{
    text-align: center;
}

.turn_button{
    position: relative;
    background-color: #3376FF;
    border: none;
    font-size: 120%;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    height: 75px;
    opacity: 0.8;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    margin-top: 20px;
}

.turn_button:hover {opacity: 1}

.reset_button{
    position: relative;
    background-color: #3376FF;
    border: none;
    font-size: 100%;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    opacity: 0.8;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Press Start 2P', cursive;
}

.reset_button:hover {opacity: 1}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #3376FF;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 100%;
    padding: 20px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    opacity: 0.8;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
    opacity: 1;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

#playerturn:focus {
    outline: none !important;
    box-shadow: none !important;
}