body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: darkgray;
}

.container{
    width: 90%;
    background-color: white;
    margin: auto;
}

.square {
    padding: 0;
    margin: 0;
    width: 100px;
    height: 100px;
    background-color: #CCC;
    border: 2px solid #666;
    float: left;
    position: relative;
}

#content {
    justify-content: center;
    display: flex;
    }

#header {
    padding-bottom: 20px;
    justify-content: center;
    display: flex;
}

.clr {
    clear: both;
}

.row {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    align-content: center;

}

.header {
    background-color: lightgray;
}

.column {
    align-content: center;
    text-align: center;
    justify-content: space-between;
}

.status-bar {
    display: flex;

}

.circle {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    fill: none;
    position: absolute;
    background-color: red;
}

.X-mark {
    color: red;
    text-align: center;
    width: 90px;
    height: 90px;
    border-radius: 5px;
    font-size: 50px;
}

.O-mark {
    color: red;
    text-align: center;
    width: 90px;
    height: 90px;
    border-radius: 5px;
    font-size: 50px;
}

.active1{
    background-color: green;
}

.active2{
    background-color: red;
}

